figure { margin: 0;}

.Standaard {
  font-size: 8.5pt;
  font-family: Verdana;
  line-height: 15pt;
}

.Standaard > .cke_widget_wrapper:nth-of-type(1n+0) span.tab {
    display: inline-block;
    text-align: center;
    width: 2cm;
}

.Standaard > .cke_widget_wrapper:nth-of-type(2n+0) span.tab {
    display: inline-block;
    text-align: center;
    width: 12cm;
}

body {
  counter-reset: level1 level2;
}

.Standaard {
    margin-left: 30px;
    margin-right: 10px;

}

.Standaard::before {
  margin-left: -10px;
  counter-increment: level1;            /* Increments only this instance
                                            of the section counter */
  content: counter(level1) ".";    /* Adds the value of all instances
                                            of the section counter separated
                                            by a ".". */
                                         /* if you need to support < IE8 then
                                            make sure there is no space after 
                                            the ',' */
}


.Registratienummer {
  font-size: 6.5pt;
  font-family: Verdana;
  line-height: 9pt;
}

.NotaTitel {
  font-weight: bold;
  font-size: 18pt;
  font-family: Verdana;
  line-height: 30pt;
  margin-bottom: 89pt;
  counter-reset: level1;
}


.NotaTitel {
  font-weight: bold;
  font-size: 18pt;
  font-family: Verdana;
  line-height: 30pt;
  margin-bottom: 89pt;
}

.NoteTitel {
  counter-reset: level1;
}

.NotaTitel::before {
  padding-left: 50px;
  counter-increment: level2;            /* Increments only this instance
                                            of the section counter */
  content: counters(level2, ".") ".";    /* Adds the value of all instances
                                            of the section counter separated
                                            by a ".". */
                                         /* if you need to support < IE8 then
                                            make sure there is no space after 
                                            the ',' */
}


.NotaTitel span.tab {
    display: inline-block;
    text-align: center;
    width: 12cm;
}

.NotaChapeau {
  font-style: italic;
  font-size: 8.5pt;
  font-family: Verdana;
  line-height: 15pt;
}

.NotaInhoud {
  font-weight: bold;
  font-size: 18pt;
  font-family: Verdana;
  line-height: 18pt;
  margin-bottom: 89pt;
}

.NotaKop1 {
  font-weight: bold;
  font-size: 18pt;
  font-family: Verdana;
  line-height: 18pt;
  margin-bottom: 89pt;
}

.NotaKop2 {
  font-weight: bold;
  font-size: 11pt;
  font-family: Verdana;
  line-height: 15pt;
  margin-top: 30pt;
  margin-bottom: 15pt;
}

.NotaKop3 {
  font-weight: bold;
  font-size: 8.5pt;
  font-family: Verdana;
  line-height: 15pt;
  margin-top: 15pt;
  margin-bottom: 15pt;
}

.NotaKop4 {
  font-style: italic;
  font-size: 8.5pt;
  font-family: Verdana;
  line-height: 15pt;
}

.NotaBijlage {
  font-weight: bold;
  font-size: 18pt;
  font-family: Verdana;
  line-height: 18pt;
  margin-bottom: 89pt;
}

.NotaDisclaimerteksten {
  font-size: 6.5pt;
  font-family: Verdana;
  line-height: 12.5pt;
}

.Metadata {
  font-size: 8.5pt;
  font-family: Lucida Console;
  background: #BFBFBF;
  line-height: 15pt;
  margin-top: 15pt;
}

.VoorbladTitel {
  font-weight: bold;
  font-size: 18pt;
  font-family: Verdana;
  line-height: 26pt;
}

.VoorbladChapeau {
  font-style: italic;
  font-size: 8.5pt;
  font-family: Verdana;
  line-height: 15pt;
}

.VoorbladDisclaimerteksten {
  font-size: 8.5pt;
  font-family: Verdana;
  line-height: 15pt;
}

.NotaTussenkop {
  font-weight: bold;
  font-size: 8.5pt;
  font-family: Verdana;
  line-height: 15pt;
  margin-top: 15pt;
  margin-bottom: 0pt;
}

.Tabel {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
}

.Tabel td {
  word-wrap: break-word;
  vertical-align: top;
  padding: 3px 10px;
  font-size: 8.5pt;
  font-family: Verdana;
  background: #ecedd1;
  text-align: right;
  line-height: 15pt;
  border: 1px solid #ffffff;
}

.Tabel tr:first-child td {
  font-weight: bold;
  background: #00405c;
  color: #ffffff;
  text-align: center;
}

.Tabel tr:last-child td {
  font-weight: bold;
}

.Tabel td:first-child {
  text-align: left;
}

.Tabel td:last-child {
  font-weight: bold;
}

.Tabel tr:first-child td:first-child {
  text-align: left;
}

.Tabel tr:last-child td:first-child {
  font-weight: normal;
}
