.Standaard {
  font-size: 8.5pt;
  font-family: Verdana;
  line-height: 15pt;
}

.NotaTitel {
  font-weight: bold;
  font-size: 18pt;
  font-family: Verdana;
  line-height: 30pt;
  margin-bottom: 89pt;
}

.NotaKop1 {
  font-weight: bold;
  font-size: 18pt;
  font-family: Verdana;
  line-height: 18pt;
  margin-bottom: 89pt;
}

.NotaKop2 {
  font-weight: bold;
  font-size: 11pt;
  font-family: Verdana;
  line-height: 15pt;
  margin-top: 30pt;
  margin-bottom: 15pt;
}

.NotaKop3 {
  font-weight: bold;
  font-size: 8.5pt;
  font-family: Verdana;
  line-height: 15pt;
  margin-top: 15pt;
  margin-bottom: 15pt;
}

/* Table style */

border -> border_color
background -> background-color
font-weight: bold -> bold
color -> font_color
text-align -> text_position
/*Whole table*/
/*font-family: Verdana;*/
/*font-size: 8.5pt;*/
/*line-height: 15pt;*/
/*border: 1px solid white;*/
/*text-align: right;*/

/*Header row*/
/*background: #00405c;*/
/*color: #fff;*/
/*font-weight: bold;*/
/*text-align: center;*/

/*First column*/
/*background: #00405c;*/
/*text-align: left;*/

/*Top left cell*/
/*text-align: left;*/

/*Default to initial Word styling: 100% width and evenly spaced columns */
.Tabel {
  table-layout: fixed;
  font-family: Verdana;
  width: 100%;
  color: #000;
  line-height: 18px;
  font-size: 12px;
  border: 1px solid #a3a3a3;
  margin: 0 0 18px 0;
}

.Tabel,
.Tabel td,
.Tabel th {
  margin: 0;
  padding: 0;
  text-align: right;
  vertical-align: top;
  border-collapse: collapse;
  border-spacing: 0;
}

.Tabel tr {
  background: #ecedd1;
}

.Tabel th,
.Tabel td {
  border: 1px solid white;
  padding: 3px 10px;
}

.Tabel th {
  background: #00405c;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}

.Tabel td {
  color: #333333;
}

.Tabel tr th:first-child {
  text-align: left;
}

