/*Default to initial Word styling: 100% width and evenly spaced columns */
table {
  table-layout: fixed;
  width: 100%;
}

/*Custom styling*/
body, input, textarea, select, label {
  font-family: verdana, arial, sans-serif;
  color: #000;
  line-height: 18px;
  font-size: 12px;
}

caption {
  margin: 0 0 3px 0;
  color: #0d6895;
  text-align: left;
}

table {
  border: 1px solid #a3a3a3;
  margin: 0 0 18px 0;
}

table, td, th {
  margin: 0;
  padding: 0;
  text-align: right;
  vertical-align: top;
  border-collapse: collapse;
  border-spacing: 0;
}

tr {
  background: #ecedd1;
}

table tr th:first-child {
  text-align: left;
}

table th {
  background: #00405c;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}

table th, table td {
  border: 1px solid white;
  padding: 3px 10px;
}

table td {
  color: #333333;
}

